.premiumAccountContainer {
  background-color: #008b5d;
}

.premiumAccountTitle {
  font-size: 1.5rem;
  line-height: 1.875rem;
}

.premiumAccountDescription {
  font-size: 0.9375rem;
  line-height: 1.375rem;
}

.careerContainer {
  width: 72px;
  height: 72px;
}
